:host {
    position: absolute;
    width: 12.5%;
    aspect-ratio: 1;
}

.piece {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    // will-change: transform;
}

.dead::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../../assets/piece/extra/gw.svg);
}

.dragging {
    cursor: grabbing !important; // Override default cursor during dragging
}

.selected {
    cursor: grab !important; // Override defaut cursor
}