:host {
    position: absolute;
    width: 12.5%;
    aspect-ratio: 1;
}

.piece {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    // will-change: transform;
}

.dragging {
    cursor: grabbing !important; // Override default cursor during dragging
}

.selected {
    cursor: grab !important; // Override defaut cursor
}