:host {
    position: absolute;
    width: calc(100% / var(--nb-cell));
    aspect-ratio: 1;
}

.piece {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
    // will-change: transform;
}

.piece-move {
    transition: transform 500ms ease-in-out;
    -webkit-transition: transform 500ms ease-in-out;
}

.dragging {
    cursor: grabbing !important; // Override default cursor during dragging
}

.selected {
    cursor: grab !important; // Override defaut cursor
}