<div 
    cdkDrag
    cdkDragBoundary="#board"
    (cdkDragStarted)="dragPiece($event)"
    (cdkDragEnded)="dropPiece($event)"
    [cdkDragDisabled]="!isMovable || !interaction"

    (mousedown)="select($event)"

    class="piece" 
    [@position]="{value: lifeState, params: {x: this.dx, y: this.dy, time: this.dyingTime}}"
    [ngClass]="[(isDragging ? 'dragging' : 'piece-move'), 
                ((isSelected && ! isDragging) ? 'selected' : '')]" 
    [ngStyle]="{ 
        'background-image': 'url(../../assets/piece/' + getPieceAcronyme() + '.svg)',
        'pointer-events': isMovable ? 'auto' : 'none',
        'z-index': isMovable ? '100' : '50'
    }" >
</div>