<div 
    cdkDrag
    cdkDragBoundary="#board"
    (cdkDragStarted)="dragPiece($event)"
    (cdkDragEnded)="dropPiece($event)"
    [cdkDragDisabled]="!isMovable"

    (mousedown)="select($event)"

    class="piece" 
    [ngClass]="[(isDragging ? 'dragging' : ''), 
                ((isSelected && ! isDragging) ? 'selected' : ''),
                (isDeaing ? 'dead' : '')]" 
    [ngStyle]="{ 
        'transform': 'translate(' + dx +  '%,' + dy + '%) rotate(' + rot + 'deg)', 
        'background-image': 'url(../../assets/piece/' + getPieceAcronyme() + '.svg)',
        'pointer-events': isMovable ? 'auto' : 'none',
        'z-index': isMovable ? '100' : '50'
    }"
    >
</div>