#board {
    position: relative;
    background-image: url("../../assets/Board.svg");
    width: 500px;
    aspect-ratio: 1;
}

.board-over::after {
    content: "Game Over";
    background: #000000aa;
    position: relative;
    width: 500px;
    aspect-ratio: 1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    color: #ff0000;
    letter-spacing: 5px;
    font-size: 8em;
    animation: fade-in 10s linear, text-zoom 5s linear;
}

@keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 1; }
}

@keyframes text-zoom {
    0% { font-size: 5.5em; }
    25% { font-size: 6em; }
    50% { font-size: 7em; }
    75% { font-size: 8em; }
}
