.board {
    position: relative;
    background: no-repeat url("../../assets/Board.svg");
    width: 40vw;
    @media screen and (max-width: 900px) {
        width: 40vh;
    }
    aspect-ratio: 1;
}

.board-over::after {
    content: "Game Over";
    background: #000000aa;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    color: #ff0000;
    font-size: 12em;
    @media screen and (max-width: 900px) {
        font-size: 6em;
    }
    letter-spacing: 10px;
    animation: fade-in 10s linear, text-zoom 5s linear;
}

@keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 1; }
}

@keyframes text-zoom {
    0% { font-size: 7em; }
    25% { font-size: 9em; }
    50% { font-size: 11em; }
}

@media screen and (max-width: 900px) {
    @keyframes text-zoom {
        0% { font-size: 2em; }
        25% { font-size: 4em; }
        50% { font-size: 5em; }
    }
}