@import "./styles/colors";
@import "./styles/themes";
@import "./styles/animate";
@import "./styles/utilities";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;700&display=swap');

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: "Exo 2", "Helvetica Neue", sans-serif; 
}

h1, h2, h3, h4, h5, h6, p, li, a, button {
    color: var(--text-color) ! important;
}
