<div class="variant">
    <h1> {{ toTitle(variant) }} </h1>

    <div class="wave-wrapper">
        <div class="wave">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>    
    </div>

    <section>
        <h2> To win </h2>
        <div *ngFor="let win of rules?.toWin; let i = index" 
            [ngSwitch]="win.type"
            class="content"
            [ngStyle]="{'flex-direction': i % 2 ? 'row' : 'row-reverse'}">

            <ng-container *ngSwitchCase="'CheckMate'">
                <p> You can check mate the opposent king ! </p>
                <div>
                    <img class="checkmate" [src]="'../../assets/piece/' + toPiece(win.piece) + '.svg'" [alt]="win.piece + ' checkmate by a pawn'" width="100%">    
                    <div class="piece-who-checkmate" style="height: 100%;"> 
                        <img [src]="'../../assets/piece/' + toPiece('pawn', 'black') + '.svg'" [alt]="'Pawn who checkmate ' + win.piece" width="100%" />                
                    </div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'Explode'">
                <p> {{ i != 0 ? "Or also, " : "" }} Explose the king with an amazing explosion ! </p>
                <div>
                    <div class="explode"> </div>
                    <div class="explode"> </div>
                    <div class="explode"> </div>
                    <img [src]="'../../assets/piece/' + toPiece(win.piece) + '.svg'" [alt]="win.piece + ' who explose'" width="100%" />    
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'XCheck'">
                <p> {{ i != 0 ? "Or also, " : "" }} Check the king {{ win.repeat }} times ! </p>
                <div>
                    <img class="check-king" [src]="'../../assets/piece/' + toPiece(win.piece) + '.svg'" [alt]="win.piece + ' who be check ' + win.repeat + 'times'" width="100%" />    
                    <div class="xcheck" style="height: 100%;"> </div>
                </div> 
            </ng-container>

            <ng-container *ngSwitchCase="'RaceTop'">
                <p> {{ i != 0 ? "Or also, " : "" }} Move {{ win.piece }} to the top of the board ! </p>
                <div>
                    <div class="top-line"></div>
                    <div class="king-to-top" style="height: 100%;">
                        <img [src]="'../../assets/piece/' + toPiece('king', 'black') + '.svg'" width="25%"/>
                    </div>
                    <img class="block" src="../../assets/Board4.svg" width="100%" />
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'KingHill'">
                <p> {{ i != 0 ? "Or also, " : "" }} Move {{ win.piece }} to center square of board ! </p>
                <div>
                    <div class="center-square"></div>
                    <div class="king-of-the-hill" style="height: 100%;">
                        <img [src]="'../../assets/piece/' + toPiece('king', 'black') + '.svg'" width="25%"/>
                    </div>
                    <img class="block" src="../../assets/Board4.svg" width="100%" />
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'AntiChess'">
                <p> You need to eat all opponent pieces ! </p>
                <div>
                    <img class="checkmate" [src]="'../../assets/piece/' + toPiece(win.piece) + '.svg'" [alt]="win.piece + ' checkmate by a pawn'" width="100%">    
                    <div class="piece-who-checkmate" style="height: 100%;"> 
                        <img [src]="'../../assets/piece/' + toPiece('pawn', 'black') + '.svg'" [alt]="'Pawn who checkmate ' + win.piece" width="100%" />                
                    </div>
                </div>
            </ng-container>
        </div>
    </section>

    <div class="wave-wrapper" *ngIf="rules?.onPieceDied">
        <div class="wave not-rotate">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path d="M0,224L48,202.7C96,181,192,139,288,112C384,85,480,75,576,64C672,53,768,43,864,64C960,85,1056,139,1152,176C1248,213,1344,235,1392,245.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <section *ngIf="rules?.onPieceDied">
        <h2> When piece died </h2>
        <div class="content" [ngSwitch]="rules?.onPieceDied">
            <ng-container *ngSwitchCase="'ExploseRowColumn'">
                <p> When a piece eat another and no king on line, explose all pieces ! </p>
                <div>
                    <div class="explose-row-column" style="height: 100%;">
                        <img id="king" [src]="'../../assets/piece/' + toPiece('king') + '.svg'" width="25%"/>
                        <img id="pawn1" [src]="'../../assets/piece/' + toPiece('pawn', 'black') + '.svg'" width="25%"/>
                        <img id="pawn2" [src]="'../../assets/piece/' + toPiece('pawn') + '.svg'" width="25%"/>
                        <img id="bishop" [src]="'../../assets/piece/' + toPiece('bishop') + '.svg'" width="25%"/>
                    </div>
                    <img src="../../assets/Board4.svg" width="100%" />
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'ExploseArround'">
                <p> When a piece eat another, explose all pieces except pawn! </p>
                <div>
                    <div class="explose-arround" style="height: 100%;">
                        <img id="king1" [src]="'../../assets/piece/' + toPiece('king') + '.svg'" width="20%"/>
                        <img id="king2" [src]="'../../assets/piece/' + toPiece('king', 'black') + '.svg'" width="20%"/>
                        <img id="pawn1" [src]="'../../assets/piece/' + toPiece('pawn', 'black') + '.svg'" width="20%"/>
                        <img id="pawn2" [src]="'../../assets/piece/' + toPiece('pawn') + '.svg'" width="20%"/>
                        <img id="bishop" [src]="'../../assets/piece/' + toPiece('bishop') + '.svg'" width="20%"/>
                    </div>
                    <img src="../../assets/Board5.svg" width="100%" />    
                </div>
            </ng-container>
        </div>
    </section>

    <div class="wave-wrapper">
        <div class="wave">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <section>
        <h2> Pieces </h2>
        <app-rules-piece [pieces]="rules.pieces"> </app-rules-piece>
        <button mat-raised-button [routerLink]="['/play', variant]" class="btn-main"> Play </button>
    </section>
</div>