<div class="rules-panel">     
    <p> Win </p>
    <ul>
        <li *ngFor="let win of rules?.toWin"> {{ win.type }} : {{ win.piece }} </li>
    </ul>
    <p> Rules </p>
    <ul>
        <li> {{ "King " + (rules?.canBeCheck ? "can" : "can't") + " be check" }} </li>
        <li *ngIf="rules?.onPieceDied" [ngSwitch]="rules?.onPieceDied"> 
            <span *ngSwitchCase="'ExploseArround'"> Explose all piece in a radius of 1 when a piece is eat except pawn. </span>
            <span *ngSwitchCase="'ExploseRowColumn'"> Explose all piece on row and column when a piece is eat except a king is on row or column.</span>
        </li>
    </ul>
</div>
