<mat-sidenav-container id="container">
  <mat-sidenav #sidenav [mode]="true ? 'over' : 'side'" class="exclude">
    <div class="nav">
      <div class="variant">
        <h2> Variantes </h2>
        <button *ngFor="let r of getImplementedRules()" class="btn-second" mat-raised-button [routerLink]="['/variant', r]" (click)="closeNav()" > {{ r }} </button>
      </div>

      <div>
        <h2> Options </h2>
        <button class="btn-second" mat-raised-button (click)="toggleTheme()"> Themes </button>
      </div>

      <button mat-fab class="btn-main" aria-label="Close Menu" (click)="sidenav.toggle()"> 
        <mat-icon> close </mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <app-overlay [sidenav]="sidenav" [user]="user"></app-overlay>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
