<mat-sidenav-container id="container">
  <mat-sidenav #sidenav [mode]="true ? 'over' : 'side'" class="exclude">
    <div class="nav">
      <div class="variant">
        <h2> Variantes </h2>
        <button *ngFor="let r of getImplementedRules()" class="btn-second" mat-raised-button [routerLink]="['/variant', r]" (click)="selectVariant(r)"> {{ r }} </button>
      </div>

      <div>
        <h2> Options </h2>
        <button class="btn-second" mat-raised-button (click)="toggleTheme()"> Themes </button>
      </div>

      <button mat-fab class="btn-main" aria-label="Close Menu" (click)="sidenav.toggle()"> 
        <mat-icon> close </mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div *ngIf="variant !== ''; else chooseVariant" style="height: 100%;">
      <ng-container *ngIf="isPlaying(); else informations">
        <app-game [variant]="variant"> </app-game>
      </ng-container>

      <ng-template #informations>
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%; padding: 20px 0;">
          <app-variant-rules [variant]="variant" [rules]="getRulesList()"> </app-variant-rules>
          <button mat-raised-button style="width: 10%; margin-top: 10px;" (click)="setPlay(true)"> Play </button>
        </div>
      </ng-template>
    </div>

    <ng-template #chooseVariant>
      <p style="text-align: center;"> To play, please select a variant in menu </p>
    </ng-template>

    <app-overlay [sidenav]="sidenav" [user]="user"></app-overlay>

    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
