<mat-drawer-container id="container" hasBackdrop="false">
  <mat-drawer #drawer mode="side">
    <div class="nav">
      <p> VariChess - Logo </p>
      <h2> Variante </h2>
      <button mat-raised-button (click)="selectVariant('chess')"> Echec </button>
      <button mat-raised-button (click)="selectVariant('explode')"> Echexplode </button>
      <button mat-raised-button (click)="selectVariant('race')"> Echecourse </button>

      <div id="space"></div>
      
      <h2> Utilisateur </h2>
      <button mat-raised-button> User </button> 
      <button mat-raised-button (click)="drawer.toggle()"> Close </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-game #board></app-game>
    <button id="menu" mat-raised-button (click)="drawer.toggle()" *ngIf="!drawer.opened"> Menu </button>
  </mat-drawer-content>
</mat-drawer-container>
