.position {
    position: absolute;
    width: 12.5%;
    aspect-ratio: 1;
}

.square {
    background-color: green;
}

.corner {
    background: radial-gradient(transparent 0%, transparent 71%, green 72%);
}

.circle {
    background: radial-gradient( red 25%, transparent 26%);
}

.position::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: transparent;
}

.position:hover::after {
    background-color: green;
}