:host {
    position: absolute;
    width: 12.5%;
    aspect-ratio: 1;
}

.position {
    display: flex;
    width: 100%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

.square {
    width: 100%;
    aspect-ratio: 1;
    background-color: green;
}

.corner {
    width: 100%;
    aspect-ratio: 1;
    background: radial-gradient(transparent 0%, transparent 50%, green 51%);
}

.circle {
    width: 35%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;
}

.position::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: transparent;
}

.position:hover::after {
    background-color: blue;
    opacity: .7;
}