.position {
    position: absolute;
    width: calc(100% / var(--nb-cell));
    aspect-ratio: 1;
}

.square {
    background-color: green;
}

.corner {
    background: radial-gradient(transparent 0%, transparent 71%, green 72%);
}

.circle {
    background: radial-gradient( green 25%, transparent 26%);
}

.check {
    background: radial-gradient( red 55%, transparent 66%);
    filter: blur(4px);
}

.castle {
    background: radial-gradient(transparent 0%, transparent 71%, blue 72%);
    z-index: 500;
}

.position::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: transparent;
}

.position:hover::after {
    background-color: green;
}