// #region Background
$second-color-light: #7eadf8;
$second-color-dark : #2f6dd1; 

$second-color-lighten: lighten($second-color-light, 10%);
$second-color-darken : darken($second-color-dark, 10%); 

$main-color-light: #225cf7;
$main-color-dark : #163ea5;

$main-color-lighten: lighten($main-color-light, 10%);
$main-color-darken : darken($main-color-dark, 10%); 

$background-light : #719add;
$background-dark  : #173e7c;
// #endregion Background

// #region Text
$text-light        : black;
$text-dark         : white;
// #endregion Text

$colors : (
    --background-color: ($background-light, $background-dark),

    --text-color: ($text-light, $text-dark),

    --second-color: ($second-color-light, $second-color-dark),
    --main-color: ($main-color-light, $main-color-dark),
)